// Основной цвет 
$mainColor: #41A4DF


// Основные цвета блоков в разных темах 
:root
    --lightModeColor: #FFF
    --darkModeColor: #0D0D12

    --blocksLightColor: #F7F9FB
    --blocksDarkColor: #18181D

    --otherTextOtherLight: rgba(17, 17, 17, 0.80)
    --otherTextOtherDark: rgba(255, 255, 255, 0.80)
